#boxes {
    width: 100px;
    height: 100px;
}

#boxes {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

#boxes .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

#boxes .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#boxes:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#color {
    width: 130px;
    height: 80px;
    border-radius: 20px;
    background-color: coral;
    color: black;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin: auto;
}

button {
    margin-left: 60px;
}